<dir class="hero-unit">
    <div class="hero-image" ></div>
    <div class="hero-text">
        <h2>welcome home</h2>
        <h4>Miete einzigartige Unterkünfte von lokalen Gastgebern in mehr als 190 Ländern.</h4>
    </div>
    </div>
